@import "global/global-variables";

.main {
  margin: $margin;
  padding: $padding;
  background: $blue;
  color: #ffffff;

  a {
    color: #ffffff;
    font-weight: 700;
    font-size: 50px;
  }
}

// Some basic structural things

#topbar {
  margin-bottom: 4rem;
  padding-bottom: 2rem;
  border-bottom: 1px dotted #323232;
}

#bottombar {
  margin-top: 4rem;
  padding-top: 2rem;
  border-top: 1px dotted #323232;
}

// Type
* {
  font-family: 'Source Sans Pro', sans-serif;
}
