@import "global/global-variables";
@import '../node_modules/normalize.css/normalize';
@import 'pieces/structure';
@import 'pieces/type';
@import 'pieces/grids';
@import 'pieces/home';
@import 'pieces/palettes';

dialog#about {
  width: calc(100% - 6rem);
  max-width: 800px;
  height: calc(100% - 6rem);
  max-height: 800px;
  padding-block: 2rem;

  button {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  &::backdrop {
    background: rgba(100, 100, 155, 0.5);
    backdrop-filter: saturate(100%) blur(10px);
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h2, h3 {
    color: var(--offbg);
  }

  article {
    display: block;

    p {
      font-size: 0.875rem;
      line-height: 1.4;
    }
  }

  form#aboutForm {
    @media screen and (min-width: 800px) {
      display: grid;
      grid-template-columns: min-content 1fr;
      gap: 0 2rem;

      article {
        grid-column: 2 / 3;
        margin-top: 0.5rem;
      }
    }
  }
}
