---
title: "Learning: Javascript"
---

{{> topbar }}

<div class="basic_text_wrapper">
    <h1>How the Heck Am I Gonna Learn All This Javascript Stuff</h1>

    <p>I'm specifically thinking about ES6-y stuff, here, but as I only dip into and out of JS stuff on an as-needed based, finding a way to capture what I've learned or need to refresh myself on regularly is a good idea.</p>

    <h2>Why I'm interested in learning about it</h2>

    <ul class="simple-bullet-list">
        <li>ES6 is a bit more current now, and more things are written using what it offers, so having those things in my mind will make it easier to understand things I see in the wild.</li>
        <li>It can't hurt to have at least a few of the techniques on hand, even if I think I prefer the "older" way of doing certain things in certain cases.</li>
        <li>It's kind of fun.</li>
    </ul>

    <h2>Priority?</h2>

    <p>Eh. Depends on what I'm doing. Not critical for day-to-day life but nice to try to touch base with it now and then. Especially if it means I have a better chance of "thinking in code" when I might othewise not.</p>

    <h2>Specific things to learn about, if it can be broken down like such</h2>

    <p>TK</p>

    <h2>List potentially useful resources</h2>

    <ul class="simple-bullet-list">
        <li>I have <a href"https://es6.io/">Wes Bos's ES6 for Everyone</a> course. Nice little videos to get a quick-fix on specific topics as needed.</li>
        <li>I also have <a href="https://javascript30.com/">Wes Bos's #Javascript30</a> course as a general JS technique refresher.</li>
    </ul>

    <h2>Progress notes</h2>

    <p>tk</p>

    <h2>Desired outcomes (stuff to build)</h2>

    <p>tk</p>
</div>

{{> bottombar }}
