<!-- Bottom Bar -->

<div id="bottombar" class="visible">
    <div class="wrapper--wide">
        <p>This will be a footer someday</p>

        <p><a href="https://github.com/darby3/chickenwing-gingerbreadman">There is a github repo for this site</a>.</p>
    </div>
</div>
