<!-- Bottom Bar -->

<footer id="bottombar" class="visible">
    <div class="bottombar__wrapper">
        <p>Go ahead, at me: <a href="https://twitter.com/darby3">@darby3</a></p>

        <p><a href="https://github.com/darby3/chickenwing-gingerbreadman">There is a github repo for this site</a>.</p>

        <p>There will be more footer things someday.</p>
    </div>
</footer>
