<!-- Bottom Bar -->

<footer id="bottombar" class="visible">
    <div class="bottombar__wrapper">
        <p>This will be a footer someday</p>

        <p><a href="https://github.com/darby3/chickenwing-gingerbreadman">There is a github repo for this site</a>.</p>
    </div>
</footer>
