<div class="updatesBar">
    <div class="updatesBar__header">Learning</div>
    <div class="updatesBar__secondary">
        {{#if secondary}}
            <div class="updatesBar__link">
                    <a href="../">{{ secondary }}</a>
            </div>
        {{/if}}
        <div class="updatesBar__link">
            <a href="/learning">Learning Home</a>
        </div>
    </div>
</div>
