<!-- Top Title and Nav Bar -->

<header id="topbar" class="fixedTop visible" role="banner">
    <p class="site-title">Chicken Wing Gingerbread Man</p>

    <nav>
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>
