<!-- Top Title and Nav Bar -->

<header id="topbar" class="fixedTop visible" role="banner">
    <div class="wrapper--wide">
        <p>Chicken Wing Gingerbread Man</p>
    </div>
    
    <nav>
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/about.html">About</a></li>
        </ul>
    </nav>
</header>
