---
title: Home
---

<div class="home">
    <section class="home__section home__section--title">
        <h1>Chicken Wing Gingerbread Man</h1>
        <p>a personal site in poor standing</p>
    </section>

    <div class="home__grid">
        <section class="home__section home__section--variant-2">
            <h2><a href="./about">About</a></h2>
        </section>

        <section class="home__section home__section--variant-1">
            <h2><a href="./updates">Updates</a></h2>
        </section>

        {{!--
        <section class="home__section home__section--variant-3">
            <h2><a href="./learning/">Learning</a></h2>
        </section>

        <section class="home__section home__section--variant-6">
            <h2><a href="./todo">To-Do List</a></h2>
        </section>

        <section class="home__section home__section--variant-5">
            <h2><a href="./into">Things I'm Into</a></h2>
        </section>

        <section class="home__section home__section--variant-4">
            <h2><a href="./elsewhere">Stuff Elsewhere</a></h2>
        </section>
        --}}

        <section class="home__section home__section--variant-7">
            <h2><a href="./demos">Demos</a></h2>
        </section>

        <section class="home__section home__section--variant-x">
            <h2><a href="./random">Random Stuff</a></h2>
        </section>
    </div>
</div>

{{> bottombar }}
