---
title: "Learning: Miscellaneous Web Techniques"
---

{{> topbar }}
{{> learningbar secondary="Web Stuff"}}

<div class="basic_text_wrapper">
    <h1>How the Heck Am I Gonna Learn All These Random Web?! Techniques</h1>

    <p>Urf.</p>
</div>

{{> bottombar }}
