/* this is how we dooooo it */

/* fonts */

@font-face {
  font-family: "fanwood";
  src: url("/assets/webfonts/fanwood-webfont.woff");
}

@font-face {
  font-family: "fanwoodItalic";
  src: url("/assets/webfonts/fanwood_italic-webfont.woff");
  font-style: italic;
}

@font-face {
  font-family: "raleway";
  src: url("/assets/webfonts/Raleway-VF.woff2");
}

:root {
  /* local fonts */

  --fanwood: "fanwood", sans-serif;
  --raleway: "raleway", sans-serif;

  font-size: 16px;
  font-family: var(--fanwood);

  /* colors */
  --orig: #491075;
  --bg: #301F3D;
  --offbg: #705482;
  --text: #e6cae6;
  --weird: #61baae;
  --title: #3ce8d1;
  --link: #fbdafb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--raleway);
  font-weight: normal;
}

h1 {
  font-variation-settings:
    "wght"725;
  font-size: clamp(2rem, 0.75rem + 4vw, 3rem);
  text-wrap: balance;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: var(--title);
}

h2 {
  font-size: clamp(1.071rem, 0.483rem + 4.706vi, 2.5rem);
  margin-bottom: 1rem;
}

h3 {
  font-size: clamp(1.071rem, 0.777rem + 2.353vi, 1.786rem);
  margin-bottom: 1rem;
}

h2,
h3,
h4 {
  color: var(--weird);
}


p {
  font-size: 2rem;
}


body {
  background-color: var(--bg);
  color: var(--text);
}

body main {
  margin-block: 2rem 4rem;
  max-width: 1024px;
  width: 100%;
  margin-inline: auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 3.5rem;
  text-align: center;
}

/**
 * flexy
 */

main article {
  border: 4px solid var(--offbg);
  border-radius: 12px;
  width: 90%;
  min-width: 65%;
  margin: auto;
  text-align: center;
  padding-bottom: 1rem;

  header {
    max-width: 90%;
    margin: auto;
  }

  &:has(article) {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;

    article {
      width: min-content;
      min-width: 90%;
      border-width: 2px;
    }
  }
}

main > article > header > p {
  margin: 0;
}

main article article > header > p {
  margin-top: 0rem;
  font-size: 1.5rem;
}

/**
 * links
 */

a {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: 1.5;
  font-size: 1.5rem;
  padding: 0.25rem 0.25rem 0;
  line-height: 1.5;
  background-color: var(--offbg);
  color: var(--link);
  text-decoration: none;
  transition: background-color 0.25s ease, color 0.25s ease;
  font-weight: bold;
  max-width: 300px;
  border-radius: 4px;

  &:has(cite) {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0.5rem auto 1rem;
    line-height: 1.4;
  }

  &:hover {
    background-color: var(--title);
    color: var(--bg);
  }
}

/** 
 * lists
 */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;

  li:has(p) {
    padding-block: 1rem;
    border: 1px solid var(--offbg);
    border-radius: 12px;
    width: 90%;

    p {
      margin-block: 0.5rem 0;
      font-size: 1.5rem;
      margin-inline: 2rem;

      &:has(cite) {
        font-size: 1.25rem;
      }
    }
  }
}

/**
 * the dialog
 */

dialog#about {
  width: calc(100% - 4rem);
  max-width: 800px;
  height: calc(100% - 4rem);
  max-height: 800px;
  padding-block: 2rem;
  border: 0;
}

dialog#about button {
  position: absolute;
  top: 8px;
  right: 8px;
}

dialog#about::backdrop {
  background: rgba(100, 100, 155, 0.5);
  backdrop-filter: saturate(100%) blur(10px);
}

dialog#about h2 {
  font-size: 2rem;
}

dialog#about h3 {
  font-size: 1.5rem;
}

dialog#about h2,
dialog#about h3 {
  color: var(--offbg);
}

dialog#about article {
  display: block;
}

dialog#about article p {
  font-size: 1.25rem;
}

@media screen and (min-width: 800px) {
  dialog#about form#aboutForm {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 0 2rem;
  }

  dialog#about form#aboutForm article {
    grid-column: 2 / 3;
    margin-top: 0.5rem;
  }
}
