// New home page

.home-page-section {
  margin: 4rem 0;
  padding-bottom: 4rem;
  border-bottom: 1rem solid #1B7FD1;
}

.home__section {
  padding: 2rem 2rem;

  h1 {
    margin: 2rem 0;
  }
  h2 {
    margin: 1rem 0;
  }
}

.home__section--title {
  --primary: #011233;
  --secondary: #F57FAD;

  text-align: center;

  p {
    font-size: 1.5rem;
    font-style: italic;
  }

  h1 {
    font-weight: 700;
  }
}

.home__section--variant-1 {
  --primary: #6CFEE6;
  --secondary: #5A3B5D;
  --linkcontrast: #fff;
}

.home__section--variant-2 {
  --primary: #F4FE6C;
  --secondary: #3B3F5D;
  --linkcontrast: #fff;
}

.home__section--variant-3 {
  --primary: #14282E;
  --secondary: #DBD1A0;
  --linkcontrast: #000;
}

.home__section--variant-4 {
  --primary: #3B3F07;
  --secondary: #A4E2F8;
  --linkcontrast: #000;
}

.home__section {
  background: var(--primary);
  color: var(--secondary);

  a {
    display: block;
    width: calc(100% - 4rem);
    text-align: center;
    margin: auto;
    max-width: 400px;
    padding: 2rem;
    background-color: var(--secondary);
    color: var(--primary);
    transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
    text-decoration: none;

    &:hover {
      transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
      background-color: var(--linkcontrast);
      color: var(--secondary);
    }
  }
}
