html {
  font-size: 24px;
}

.home {
  --orig: #491075;
  --bg: #301F3D;
  --offbg: #705482;
  --text: #e6cae6;
  --weird: #61baae;
  --title: #3ce8d1;
  --link: #fbdafb;

  background-color: var(--bg);
  color: var(--text);

  main {
    --inline-margin: 1rem;

    margin-block: 2rem 4rem;
    width: 100%;
    max-width: calc(100% - 2 * var(--inline-margin));
    margin-inline: var(--inline-margin);
    display: flex;
    flex-flow: column nowrap;
    gap: 3.5rem;

    > header {
      border-bottom: 2px solid var(--title);
      padding-bottom: 1rem;

      p {
        margin-bottom: 1rem;
      }

      ul {
        display: flex;
        gap: 1rem;
        flex-flow: row nowrap;
      }
    }
  }

  h1, h2, h3, h4, p {
    margin-block: 0 0.5rem;
  }

  header p {
    margin: 0;
  }

  h1 {
    color: var(--title);
  }

  h2, h3, h4 {
    color: var(--weird);
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.625rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  p {
    font-size: 1rem;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 0.25rem;
  }

  ul li a {
    display: block;
    font-size: 0.875rem;
    padding: 0.25rem;
    background-color: var(--offbg);
    color: var(--link);
    text-decoration: none;
    transition: background-color 0.25s ease, color 0.25s ease;

    &:hover {
      background-color: var(--title);
      color: var(--bg);
    }
  }

  article {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.75rem;

    header {
      padding-bottom: 1rem;
      border-bottom: 1px dotted var(--offbg);
    }

    article {
      gap: 1rem;

      header {
        padding-bottom: 0;
        border-bottom: 0;
      }

      article {
        gap: 0.5rem;
      }
    }
  }
}

