---
title: Demo - Spatial Manipulation
layout: image-triggering-demo
---

{{> topbar }}

<section id="image-triggering-demo" class="basic_text_wrapper--demo-header">
    <div class="basic_text_wrapper--demo-header--text">
        <h1>Demo: Image Triggering</h1>
        <p>Having images (and other elements) do <em>things</em> when they scroll into the frame is cool.</p>
    </div>
</section>


{{!-- Step 1 --}}

<section class="basic_text_wrapper--demo-text">
    <h2>Step 1: Start with ... something</h2>
    <p>There's <a href="step1-breakout">a break-out for that</a>.</p>
</section>

{{> bottombar }}
