---
title: Site updates
---

{{> topbar }}

<div class="basic_text_wrapper">
    <h1>Updates</h1>

    <ul class="simple-bullet-list">
        {{#updates}}
            {{#each (sortBy items "data.posted") as |item|}}
                <li>{{ moment item.data.posted format="YYYY-MM-DD" }}: <a href="/{{item.data.permalink}}">{{item.data.title}}</a></li>
            {{/each}}
        {{/updates}}
    </ul>
</div>

{{> bottombar }}
