---
title: "Learning: Home"
---

{{> topbar }}

<div class="basic_text_wrapper">
    <h1>How the Heck Am I Gonna Learn All This Nonsense</h1>

    <p>Bit by bit, piece by piece. Here's some stuff I wanna learn about or at least say I wanna learn about but which I might not actually need to learn about or really even wanna learn about all that much, even.</p>

    <p>When I have something to say about learning these things I'll link to pages and/or add notes below.</p>

    <h2>Tech-y stuff</h2>

    <p>In less-than-zero particular order:</p>

    <ul class="learning-list-grid">
        <li>Web animation techniques</li>
        <li>Game development</li>
        <li>Python</li>
        <li>React</li>
        <li class="has-link"><a href="javascript/">ES6/latest-greatest JavaScript stuff</a></li>
        <li>PHP</li>
        <li>Design systems aka pattern libraries</li>
        <li>Drupal 8</li>
        <li>NPM Scriptiness</li>
        <li class="has-link"><a href="web-techniques/">Miscellaneous web techniques</a></li>
        <li>Web accessibility</li>
        <li class="has-link"><a href="assemble/">Assemble</a></li>
    </ul>

    <h2>Less tech-y stuff</h2>

    <p>I mean there's tech-y stuff in here but it's more toward the creative edge of my brain:</p>

    <ul class="learning-list-grid">
        <li>Drawing</li>
        <li>Blender</li>
        <li>Jogging</li>
    </ul>

    <h2>Todo list</h2>

    <p>For each "thing" I want to learn, I want to create at least a top-level page about that subject. Here's an idea of what I want to make note of on the corresponding page:</p>

    <ul class="simple-list-grid">
        <li>Why I'm interested in learning about it</li>
        <li>Priority?</li>
        <li>Specific things to learn about, if it can be broken down like such</li>
        <li>List potentially useful resources</li>
        <li>Progress notes</li>
        <li>Desired outcomes (stuff to build)</li>
    </ul>

</div>

{{> bottombar }}
