---
title: "Learning: Web Techniques"
---

{{> topbar }}

<div class="basic_text_wrapper">
    <h1>How the Heck Am I Gonna Learn All These Random Web Techniques</h1>

    <p>There's lots of stuff it feels like I should know how to do from scratch. Maybe it's overkill to know how to do everything from scratch. But.</p>

    <h2>Random web techniques it feels like I should know how to do</h2>

    <p>In no decipherable order:</p>

    <ul class="learning-list-grid">
        <li>A technique</li>
        <li>A technique</li>
        <li>A technique</li>
        <li>A technique</li>
    </ul>
</div>

{{> bottombar }}
