---
title: "Learning: Web Stuff"
---

{{> topbar }}
{{> learningbar }}

<div class="basic_text_wrapper">
    <h1>How the Heck Am I Gonna Learn All This Random Web Stuff</h1>

    <p>There's ... there's so much web stuff. Lots of stuff. Stuff it feels like I should know how to do from scratch, stuff I should have more familiarity with, stuff stuff stuff. Stuff I should know more about without an immediate need for it, that's a particulary tricky bit. Maybe it's overkill to think I'm going to learn all this stuff, but I'd also like to feel a little more well-organized about this stuff so I can feel like I can learn some things when I have some time to learn some stuff. </p>

    <h2>Random web stuff I'm breaking up into categories so I can try to organize my approach to learning more about all this web stuff</h2>

    <p>In no decipherable order:</p>

    <ul class="learning-list-grid">
        <li class="has-link"><a href="techniques/">Miscellaneous techniques</a></li>
        <li class="has-link"><a href="javascript/">ES6/latest-greatest JavaScript stuff</a></li>
        <li>Animation</li>
        <li>Accessibility</li>
    </ul>
</div>

{{> bottombar }}
