---
title: 101 Ways to Animate Things
layout: main
---

{{> topbar }}

<section class="basic_text_wrapper">
    <h1>101 Ways to Animate Things</h1>

    <p>I tend to forget that there's a million ways to animate things. Here's some ways. This will probably be a mish-mash of technical methods as well as things that can actually be done.</p>

    <ol>
        <li><a href="./add-a-class">Add a class</a>.</li>
        <li><a href="./toggle-a-class">Toggle a class</a>.</li>
        <li><a href="./css-transition">Use CSS transitions</a>.</li>
        <li><a href="./relative-position">Relative positioning</a>.</li>
        <li><a href="./transform-scale">Transform: scale</a>.</li>
        <li><a href="./transform-rotate">Transform: rotate</a>.</li>
        <li><a href="./transform-translate">Transform: translate</a>.</li>
        <li><a href="./transform-multi">Transform: multiple transforms</a>.</li>
    </ol>

    {{!--

    - trigger on scroll into view
    - trigger on hover
    - trigger on load?

    - move
    - resize (scale)
    - rotate

    - jquery animate
    - greensock animation
    - web animation api


    --}}
</section>

{{> bottombar }}
