---
title: 101 Ways to Animate Things
layout: main
---

{{> topbar }}

<section class="basic_text_wrapper">
    <h1>101 Ways to Animate Things</h1>

    <p>I tend to forget that there's a million ways to animate things. Here's some ways. This will probably be a mish-mash of technical methods as well as things that can actually be done.</p>

    <p>Also worth noting: I use Firefox full time, and I'm not cross-browser-compatibility-testing anything here. This is mostly for the sake of reference. Maybe I'll go back through and add cross-browser usage notes, where applicable. Or not.</p>

    <p>This is also, like some of my <a href="/graphics/">graphics experiments</a>, sort of a rough sketchbook of ideas. So there's themes and variations and it's sometimes in a logical order but the list might also swerve from time to time when I jump topics or ideas or libraries or whatever. Not to be treated as an exhaustive tutorial.</p>

    <ol class="animation-list">
        <li><a href="./add-a-class">Add a class</a></li>
        <li><a href="./toggle-a-class">Toggle a class</a></li>
        <li><a href="./css-transition">Use CSS transitions</a></li>
        <li><a href="./relative-position">Relative positioning</a></li>
        <li><a href="./transform-scale">Transform: scale</a></li>
        <li><a href="./transform-rotate">Transform: rotate</a></li>
        <li><a href="./transform-translate">Transform: translate</a></li>
        <li><a href="./transform-multi">Transform: multiple transforms</a></li>
        <li><a href="./css-transition-to-and-fro">Use CSS transitions, separate transitions before and after activation</a><br />(For some reason I have the hardest time remembering that, when you're toggling a class like this, if you want an "in" transition and an "out" transition, the transition goes onto the target state. I dunno why I struggle with that. But here we are.)</li>
        <li><a href="./css-keyframes">CSS keyframes</a></li>
        <li><a href="./css-keyframes-fill-forwards">CSS keyframes: fill mode forwards</a></li>
        <li><a href="./css-keyframes-infinite">CSS keyframes: repeat infinitely</a></li>
        <li><a href="./css-keyframes-infinite-back-forth">CSS keyframes: repeat infinitely, back and forth</a></li>
        <li><a href="./transition-on-hover">Transition on hover</a></li>
        <li><a href="./transition-end-event">Use the transition end event</a></li>
        <li><a href="./transition-end-trigger-something-else">Use the transition end event and trigger something else</a></li>
        <li><a href="./transition-end-trigger-succession">Use the transition end event and chain animations together</a></li>
        <li><a href="./jquery-show-hide">Use jQuery to show and hide, 1</a><br />(toggle)</li>
        <li><a href="./jquery-show-hide-with-timing">Use jQuery to show and hide, 2</a><br />(toggle with timing)</li>
        <li><a href="./jquery-show-hide-with-timing-and-easing">Use jQuery to show and hide, 3</a><br />(toggle with timing and easing)</li>
        <li><a href="./web-animation-api">Use the web animation api</a><br />(I'm pretty sure this is basically only Firefox now, as I haven't installed the polyfill or whatever)</li>
        <li><a href="./web-animation-api-with-show-and-hide">Use the web animation api, with show-and-hide</a><br />(a la setting display: none before/after the animation appropriately)</li>
    </ol>

    {{!--

    - trigger on scroll into view
    - trigger on hover
    - trigger on load?

    - trigger in order

    - transitions with or without the active class (which "end" the transition targets)

    - css keyframes (animation)

    - move
    - resize (scale)
    - rotate

    - jquery animate
    - greensock animation
    - web animation api


    --}}
</section>

{{> bottombar }}
