---
title: 101 Ways to Animate Things
layout: main
---

{{> topbar }}

<section class="basic_text_wrapper">
    <h1>101 Ways to Animate Things</h1>

    <p>I tend to forget that there's a million ways to animate things. Here's some ways. This will probably be a mish-mash of technical methods as well as things that can actually be done.</p>

    <ol>
        <li><a href="./1">Add a class</a>.</li>
        <li><a href="./2">Toggle a class</a>.</li>
        <li><a href="./3">Use CSS transitions</a>.</li>
    </ol>
</section>

{{> bottombar }}
