---
title: 101 ways to...
layout: main
---

{{> topbar }}

<section class="basic_text_wrapper">
    <h1>101 ways to...</h1>

    <p>Do different things:</p>

    <ul>
        <li><a href="./animate-things">Animate things</a>.</li>
    </ul>
</section>

{{> bottombar }}
