---
title: About
---

{{> topbar }}

<section class="basic_text_wrapper">

    <h1>About this site</h1>

    <p>The idea here is that it might be nice to make a website. And it might be nice to make a website without knowing exactly what the website is going to look like, or do, or be, before starting.</p>

    <p>I've got a vague idea for a page that's about sharing random stuff I'm into at the moment, and that might give me the chance to mess around with some techniques and ideas I come up with which I can't immediately apply anywhere else.</p>

    <p>Also, making websites is supposed to be fun, and I'm hoping this will be kind of fun, if a bit of a mess.</p>

    <p>Wait: actually, I'm hoping it'll be fun <em>because</em> it's a mess.</p>

    <h2>About the name</h2>

    <p>Honestly I had the hardest time come up with something <em>relevant</em>.</p>

    <p>That said, early in 2019, about two months and change before I bought the domain name, I welcomed my second son into the world. There was for a while a particular swaddle/wrap thing that he liked, which made him look adorably hilarious. (Sleep deprivation may have been a factor.) I likened certain curves of it to a chicken wing; his mom said it made him look like a gingerbread man. She's more right than I am, of course. Still, the phrase "chicken wing gingerbread man" got stuck pretty hard and fast in the singsongy regions of my brain.</p>

    <p>So, yeah: welcome to Chicken Wing Gingerbread Man, a site born out of fatigue and general designer/developer antsyness.</p>

</section>

{{> bottombar }}
