---
title: About
---

{{> topbar }}

<h1>About this site</h1>

<p>The idea here is that it might be nice to make a website. And it might be nice to make a website without knowing exactly what the website is going to look like, or do, or be, before starting.</p>

<p>I've got a vague idea for a page that's about sharing random stuff I'm into at the moment, and that might give me the chance to mess around with some techniques and ideas I come up with which I can't immediately apply anywhere else.</p>

<p>Also, making websites is supposed to be fun, and I'm hoping this will be kind of fun, if a bit of a mess.</p>

{{> bottombar }}
