---
title: Home
---

{{> topbar }}

<section class="basic_text_wrapper">
    <h1>Fun with colors</h1>
    <p>Just slopping some color palette combos together that I like. These should all have accessible levels of contrast according to a testing tool. That doesn't necessarily mean they are good combos, yet.</p>
</section>

<section>
    <div class="palette palette--a">
        <h2>Foreground Headline</h2>
        <p>Foreground copy.</p>
    </div>

    <div class="palette palette--e">
        <h2>Foreground Headline</h2>
        <p>Foreground copy.</p>
    </div>

    <div class="palette palette--c">
        <h2>Foreground Headline</h2>
        <p>Foreground copy.</p>
    </div>

    <div class="palette palette--d">
        <h2>Foreground Headline</h2>
        <p>Foreground copy.</p>
    </div>

    <div class="palette palette--b">
        <h2>Foreground Headline</h2>
        <p>Foreground copy.</p>
    </div>
</section>


{{> bottombar }}
