---
title: Design Systems
---

{{> topbar }}

<h1>Design Systems</h1>

<h2>Articles, resources, etc.</h2>

<p>I'm trying to learn more about design systems. Here's some links I've gathered on the subject.</p>

<ul>
    <li>Article:
        <a href="https://css-tricks.com/design-systems-building-future/">Design Systems: Building for the Future</a>
    </li>
    <li>Article: <a href="https://daverupert.com/2013/04/responsive-deliverables/">Responsive Deliverables</a></li>
    <li>Resources: <a href="http://styleguides.io/">Styleguides.io</a>.
        <ul>
            <li>Articles: <a href="http://styleguides.io/articles">Styleguides.io Articles</a></li>
            <li>Examples gallery: <a href="http://styleguides.io/examples">Styleguides.io Examples</a></li>
        </ul>
    </li>
</ul>

<h2>Examples I like</h2>

<p>Here's some examples I like, primarily grabbed off styleguides.io.</p>

<ul>
    <li>U.S. Web Design System. <a href="https://designsystem.digital.gov/components/">UI Components</a>.
        <a href="https://designsystem.digital.gov/page-templates/">Page templates</a>.
    </li>
    <li>A11y Style Guide. <a href="https://a11y-style-guide.com/style-guide/">Style guide/pattern library</a>.</li>
    <li>Barnart Levit Optometrists. <a href="http://www.barnardlevit.co.uk/style-guide">Style guide</a>.</li>
    <li>Drupal.org. <a href="https://www.drupal.org/drupalorg/style-guide">Style guide</a>.</li>
    <li>Frontify. <a href="https://brand.frontify.com/d/qAiubNBytHKf/style-guide">Style guide</a>.
        <a href="https://brand.frontify.com/d/qAiubNBytHKf/ui-patterns">Pattern library</a>.
    </li>
    <li>Pivotal. <a href="http://styleguide.cfapps.io/">Pivotal UI</a></li>
    <li>IBM. <a href="https://www.ibm.com/design/language/">IBM Design Language</a>.</li>
</ul>

{{> bottombar }}
