---
title: Home
---

{{> topbar }}

<h1>Elsewhere</h1>

<section class="home-page-section">
    <h2>Stuff I've done elsewhere that I want to make note of</h2>

    <p>And which I'll come back to later and flesh out with links and descriptions</p>

    <ul>
        <li><cite>The Reds</cite></li>
        <li><cite>Or Eve</cite></li>
        <li>My Instagram</li>
        <li>npm Starter Scripts</li>
    </ul>
</section>


{{> bottombar }}
