---
title: Graphics
layout: main
---

{{> topbar }}

<section class="basic_text_wrapper">

    <h1>Graphics</h1>

    <p>I have a soft spot for doing graphics. I've spent a healthy amount of time in After Effects and Blender, Photoshop and Illustrator, sometimes for pleasure and sometimes for profit. I also have a long-running interest in learning graphics programming / generative art techniques, though, to be honest, I don't know that I have a whole lot to show for this, to date. But I have fun with it whenever I manage to focus on it for a while.</p>
    <p>Below I'm trying to loosely collect links to various artifacts and things so I can say these interests have something vaguely representing a home.</p>

    <h2>Programming / Generative Art</h2>

    <p>I've dabbled in things. Here's some (messy) results.</p>

    <ul class="simple-bullet-list">
        <li><a href="https://darby3.github.io/canvas-sketchbook/">Canvas sketchbook</a>. Kind of a sketchbook for doing web canvas graphics fairly directly. Not quite programming-my-own-shaders directly, but not with the aid of specific libraries, either.</li>
        <li><a href="https://darby3.github.io/threejs-sketchbook/">Three.js sketchbook</a>. Kind of a sketchbook for experimenting with the Three.js 3d graphics library.</li>
        <li><a href="https://darby3.github.io/threejs-starters/">three.js starters</a>. This is sort of related to the sketchbooks, but also not exactly. It's at least meant to be a bit more geared toward creating focused starter or reference files; sort of a personal three.js knowledge base.</li>
        <li><a href="https://darby3.github.io/p5js-sketchbook/">p5js sketchbook</a>. This one's a bit old and out of shape. As soon as I get back into playing with Processing, I'm totally going to re-org and update this. I do enjoy Processing.</li>
    </ul>

    <h2>Other stuff</h2>

    <p>Things made using other things.</p>

    <ul class="simple-bullet-list">
        <li><a href="http://oreve.foldednotedesign.com/">Or Eve</a>. I made a prologue of a graphic novel (essentially) entirely in Blender. This might be the nerdiest thing I've ever done. I still love the logo I made for this project.</li>
        <li><a href="https://www.tumblr.com/blog/followthereds">The Reds</a>. I made a chapter of a graphic novel using a mix of analogue media and Photoshop / InDesign malarkey. I also made some teaser/trailer motion graphic videos for it, probably in After Effects. Embarrassingly, the comic itself appears to be missing at the moment, so here's a link to the tumblr for the project.</li>
        <li><a href="https://tenthousandfalsedreams.tumblr.com/">10000 False Dreams</a>. It's like if Adobe Illustrator and I formed a band and had a visual jam session. (Shooting for 10,000 things, though I've only made it to 245, so far, I guess.) There's definitely a<a href="https://tenthousandfalsedreams.tumblr.com/post/144709125639/00208">few</a> of <a href="https://tenthousandfalsedreams.tumblr.com/post/144693551712/00204">these</a> that I <a href="https://tenthousandfalsedreams.tumblr.com/post/144486917202/00169">like</a>.</li>
        <li><a href="https://www.youtube.com/playlist?list=PLoUUtwWXpksAnJ1HogFU5eKaCj_Z96S-L">Blender experiments</a>. Various animations done in Blender.</li>
        <li>Video / motion graphics work. I worked for Snap-on Business Solutions for quite a while and had the opportunity to do some video and motion graphics work there. I'm still particularly rather proud of the <a href="https://www.youtube.com/watch?v=AdqQYsimLqI">2013 NADA Trailer video</a> and the <a href="https://www.youtube.com/watch?v=ItsvFxWXt54">2014 NADA Trailer video</a>. (Some of that I look at today and, after not having touched After Effects in ages, I wonder how I managed to pull off what I pulled off.)</li>
    </ul>
</section>

{{> bottombar }}
