---
title: Home
---

<div class="home">
    <section class="home__section home__section--title">
        <h1>Chicken Wing Gingerbread Man</h1>
        <p>a personal site in poor standing</p>
    </section>

    <section class="home__section home__section--variant-2">
        <h2><a href="./about.html">About</a></h2>
    </section>

    <section class="home__section home__section--variant-1">
        <h2><a href="./updates.html">Updates</a></h2>
    </section>

    <section class="home__section home__section--variant-2">
        <h2><a href="./learning/">Learning</a></h2>
    </section>

    <section class="home__section home__section--variant-1">
        <h2><a href="./todo.html">To-Do List</a></h2>
    </section>

    <section class="home__section home__section--variant-2">
        <h2><a href="./into.html">Things I'm Into</a></h2>
    </section>

    <section class="home__section home__section--variant-1">
        <h2><a href="./elsewhere.html">Stuff Elsewhere</a></h2>
    </section>

    <section class="home__section home__section--variant-2">
        <h2><a href="./random.html">Random Stuff</a></h2>
    </section>

    <section class="home__section home__section--variant-3">
        <h2><a href="./scratch.html">Scratch Page</a></h2>
    </section>
</div>

{{> bottombar }}
