---
title: Home
---

{{> topbar }}

<h1>Welcome to my weird site</h1>

<p>What there is of it, anyway.</p>

<h2>Stuff I'd like to put on this site or that I randomly think about putting on this site</h2>

<ul class="simple-list-grid">
    <li>A "stuff I'm into" section, where I just keep adding whatever catches my eye in any shape or form</li>
    <li>Some quick-ref kind of stuff, specifically things about building this site, or sites in general; stuff that doesn't quite fit a narrow blog-post format</li>
    <li>Dumb experiments, like a personal codepen of sorts, or an archive of links to codepen-style experiments</li>
    <li>A running list of ideas for things I should be doing but am probably not doing</li>
    <li>Links to stuff I actually have done</li>
    <li>Links to resources that I have found useful in figuring out how to make this site</li>
    <li>Silly data visualizations</li>
</ul>

{{> bottombar }}
