---
title: Home
---

{{> topbar }}

<h1>Welcome to my weird site</h1>

<p>What there is of it, anyway.</p>

<p>Here's some stuff.</p>

<section class="home-page-section">

    <h2>To-do List</h2>

    <p>aka, Stuff I think I might like to put on this site or that I randomly think about putting on this site, sometimes</p>

    <ul class="simple-list-grid">
        <li>A "stuff I'm into" section, where I just keep adding whatever catches my eye in any shape or form</li>
        <li>Some quick-ref kind of stuff, specifically things about building this site, or sites in general; stuff that doesn't quite fit a narrow blog-post format</li>
        <li>Dumb experiments, like a personal codepen of sorts, or an archive of links to codepen-style experiments</li>
        <li>A running list of ideas for things I should be doing but am probably not doing</li>
        <li>Links to stuff I actually have done</li>
        <li>Links to resources that I have found useful in figuring out how to make this site</li>
        <li>Silly data visualizations</li>
    </ul>

</section>

<section class="home-page-section">
    <h2>Things I'm into</h2>

    <p>Or at least, things I'm at least into <em>just enough</em> to take the time to make note of them on a free web site. In no particular order:</p>

    <div class="into-it-grid">
        <div>
            <h3><cite>Throughline</cite> from NPR</h3>
            <p><cite><a href="https://www.npr.org/podcasts/510333/throughline">Throughline</a></cite> is a pretty excellent podcast that looks at history to better understand things that are going on around us right now.</p>
            <p>Here's a couple episodes I particulary liked:</p>
            <ul>
                <li><a href="https://www.npr.org/2019/04/08/711197886/nancy-pelosi">Nancy Pelosi</a></li>
                <li><a href="https://www.npr.org/2019/03/27/707188193/the-phoebus-cartel">The Phoebus Cartel</a></li>
                <li><a href="https://www.npr.org/2019/01/31/690363402/how-the-cia-overthrew-irans-democracy-in-four-days">How The CIA Overthrew Iran's Democracy In 4 Days</a></li>
            </ul>
        </div>

        <div>
            <h3>The &lt;cite&gt; tag</h3>
            <p>I know, I didn't know it existed either. <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/cite">It does</a>.</p>
        </div>

        <div>
            <h3><cite>Come With Me</cite> by Helen Schulman</h3>
            <p>Sometimes you pick up the right book at the right moment and right now <cite>Come With Me</cite> by Helen Schulman feels very
                <em>right</em> for reasons I'm probably not going to get into on this very silly free web site. That said I'm only about halfway through with it so maybe it tanks, I don't know. But right now: now, right.</p>
        </div>

        <div>
            <h3><cite>The Outline</cite></h3>
            <p>I'm really into <a href="https://theoutline.com/"><cite>The Outline</cite></a> for both its writing and its site design. I guess they've been around forever but I am old and do not pay attention to things. Also it seems I've missed the opportunity to give them money by buying a t-shirt or something, which bums me out. Anyways: great site!</p>
        </div>

        <div>
            <h3>"Make it boring"</h3>
            <p><a href="https://jeremy.codes/blog/make-it-boring/">This article by Jeremy Wagner</a> feels like a fresh take on an old refrain. One that's worth reiterating, though.</p>
        </div>

        <div>
            <h3>Design Systems</h3>
            <p>I'm trying to learn more about design systems. <a href="./design-systems.html">Here's a page about that</a>.</p>
        </div>

        <div>
            <h3>Firefox</h3>
            <p><a href="https://www.mozilla.org/en-US/firefox/new/">I love Firefox</a>. And, yes, that includes
                <a href="https://www.mozilla.org/en-US/firefox/mobile/">Firefox Mobile</a>.</p>
        </div>

        <div>
            <h3>Bookmarking things instead of sending them to Pocket</h3>

            <p>My
                <a href="https://getpocket.com/">Pocket</a> queue has about 8000 items in it; which is absurd. Mostly because I started dumping anything into it, not just things I want to read, but resources, other links, etc. I've put a moratorium on my Pocket use until I
                <a href="https://github.com/darby3/pocket_data_processor">sort out the archive of links I downloaded</a>; at which point I'll clear it out and start using it correctly. In the meantime I've started dumping things into a messy unsorted bookmarks folder. Just as fun, maybe almost as useful!
            </p>
        </div>

        <div>
            <h3>Accessibility in 2019</h3>

            <p>In the sense that I'm trying to learn it and incorporate it and make it
                <em>just part of what I do</em>, something more than a checkbox that gets checked at some point. I have a lot to learn yet. And that said it seems like
                <a href="https://webaim.org/projects/million/">the rest of the web does too</a>. (WebAIM link
                <a href="https://daverupert.com/2019/04/weeknotes-4/">via Dave Rupert</a> who links to
                <a href="https://ericwbailey.design/writing/2019-03-05-fighting-uphill.html">this post by Eric Bailey</a> and
                <a href="https://ethanmarcotte.com/wrote/the-web-we-broke/">this post by Ethan Marcotte</a> both of which are well worth reading.)
            </p>
        </div>

        <div>
            <h3>CSS Grid</h3>

            <p>I just love it. Gridding things makes me happy. Nothing but props and gratitude to
                <a href="https://www.youtube.com/layoutland">Layout Land</a> and
                <a href="https://labs.jensimmons.com/">Jenn Simmons</a> for the knowledge bombs here.</p>
        </div>

        <div>
            <h3>This one quote from Proust</h3>

            <p>Which I need to go back and find and copy out here. Next time I'm near my copy of the book. And my laptop is open.</p>
        </div>

        <div>
            <h3>My "2019 Ideas" shelf on GoodReads</h3>

            <p>It's
                <a href="https://www.goodreads.com/review/list/2337180-darby-dixon-iii?shelf=2019-ideas">a really fun list of books I might read this year or like in the course of my entire lifetime</a> that probably requires some additional explanation at some point.
            </p>
        </div>

        <div>
            <h3>The album <cite>Stuffed & Ready</cite> by Cherry Glazerr</h3>

            <p>It's real good. Like, I'm pretty sure I've looped that a couple times. It's fun.</p>
        </div>

        <div>
            <h3>Pencils</h3>

            <p>Thanks to
                <a href="https://cwpencils.com/">CW Pencil Enterprise</a> for being a cool store that I gave a bunch of money to recently.
            </p>
        </div>

        <div>
            <h3>The PlayStation 5 offering backwards compatibility for PlayStation 4 games</h3>

            <p>Not that I'm playing as much these days as I'd like but oh it's good to know I can continue to buy games without worrying about whether I'll have hardware to play them on if I upgrade my system someday.</p>
        </div>

        <div>
            <h3><em>The Cartel</em> by Don Winslow</h3>

            <p>I'm fairly certain this book rivals most any post-apocalyptic book I've ever read in the body-count column.</p>
        </div>
    </div>
</section>

<section class="home-page-section">
    <h2>Stuff I've done elsewhere that I want to make note of</h2>

    <p>And which I'll come back to later and flesh out with links and descriptions</p>

    <ul>
        <li><cite>The Reds</cite></li>
        <li><cite>Or Eve</cite></li>
        <li>My Instagram</li>
        <li>npm Starter Scripts</li>
    </ul>
</section>


{{> bottombar }}
