---
title: "Chicken Wing Gingerbread Man: Home"
layout: home
---

<main>
    <header>
        <h1>Chicken Wing Gingerbread Man</h1>
        <p>a personal site in chaotic and underperforming flux</p>

        <ul>
            <li><a id="aboutLink" href="#about">about</a></li>
        </ul>
    </header>

    <article>
        <header>
            <h2>Feeling Social</h2>
            <p>come and find me</p>
        </header>

        <article>
            <header>
                <h3>Social Links</h3>
                <p>chatty links</p>
            </header>

            <ul>
                <li><a href="https://bsky.app/profile/darby3.bsky.social">bluesky</a></li>
                <li><a href="https://zirk.us/@darby3">mastodon</a></li>
            </ul>
        </article>

        <article>
            <header>
                <h3>Semi-Social Links</h3>
                <p>less chatty links</p>
            </header>

            <ul>
                <li><a href="https://app.thestorygraph.com/profile/darby3">the storygraph</a></li>
                <li><a href="https://letterboxd.com/darby3/">letterboxd</a></li>
                <li><a href="https://albumwhale.com/darby3">albumwhale</a></li>
            </ul>
        </article>
    </article>

    <article>
        <header>
            <h2>Blogs</h2>
            <p>put a blog on it!!!</p>
        </header>

        <article>
            <header>
                <h3>Somewhere Other Than Here</h3>
                <p>a blog about life</p>
            </header>

            <ul>
                <li><a href="https://blog.chickenwing-gingerbreadman.xyz/">soth</a></li>
            </ul>
        </article>

        <article>
            <header>
                <h3>Thumb Drives and Oven Clocks</h3>
                <p>a blog about books</p>
            </header>

            <ul>
                <li><a href="https://tdaoc.org/">tdaoc</a></li>
                {{!-- <li><a href="https://tdaoc.org/newsletters/">2022—2023 newsletter archives</a></li>
                <li><a href="https://thumbdrivesandovenclocks.wordpress.com/">2010—2019 WordPress archives</a></li>
                <li><a href="https://thumb-drives-and-oven-clocks.blogspot.com/">2005—2010 Blogger archives</a></li> --}}
            </ul>
        </article>

        <article>
            <header>
                <h3>Naming Things is Hard</h3>
                <p>a blog about tech</p>
            </header>
            <ul>
                <li><a href="https://namingthingsishard.blog/">ntih</a></li>
            </ul>
        </article>
    </article>

    <article>
        <header>
            <h2>Non-Technical Stuff</h2>
            <p>life ain't all fun and code</p>
        </header>

        <article>
            <header>
                <h3>Book Reviews</h3>
                <p>writing elsewhere</p>
            </header>

            <ul class="more-gap">
                <li>
                    <a href="https://www.identitytheory.com/complicities-stacey-derasmo-book-review/"><cite>The Complicities</cite> by Stacey D’Erasmo</a>
                    <p>"The story begins in the wake of a crime."</p>
                    <p>Reviewed at <cite>Identity Theory</cite>.
                    </p>
                </li>
                <li>
                    <a href="http://thecollagist.com/the-collagist/2012/8/7/radio-iris-by-anne-marie-kinney-two.html"><cite>Radio Iris</cite> by Anne-Marie Kinney</a>
                    <p>"There's a Kafkaesque layer of weirdness smeared across everything…"</p>
                    <p>Reviewed at <cite>The Collagist</cite>.
                    </p>
                </li>
                <li>
                    <a href="http://thecollagist.com/the-collagist/2011/9/14/the-american-girl-by-monika-fagerholm.html"><cite>The American Girl</cite> and
                        <cite>The Glitter Scene</cite> by Monika Fagerholm</a>
                    <p>"Monika Fagerholm creates a dark, dramatic, and lyrical world, often insular, full of change and loss.... I fell in love with this world and these books; they are, for me, a fresh reminder of what story itself is about."</p>
                    <p>Reviewed at <cite>The Collagist</cite>.
                    </p>
                </li>
                <li>
                    <a href="http://thecollagist.com/the-collagist/2009/9/14/some-things-that-meant-the-world-to-me-joshu.html"><cite>Some Things That Meant the World to Me</cite> by Joshua Mohr</a>
                    <p>"Joshua Mohr’s debut novel...is where Michael Gondry would go if he went down a few too many miles of bad desert road."</p>
                    <p>Reviewed at <cite>The Collagist</cite>.
                    </p>
                </li>
                <li>
                    <a href="http://thecollagist.com/the-collagist/2010/8/14/drowning-tucson-by-aaron-michael-morales.html"><cite>Drowning Tucson</cite> by Aaron Michael Morales</a>
                    <p>"Fill your book with blatant, modern-day classic, critical thematic concerns and a reviewer ought to have no problem calling them out in an easily digested bullet-point format.... Except, this book hurt. And trying to find a way to talk about that without merely repeating over and over again that this book hurt presents a far greater challenge."</p>
                    <p>Reviewed at <cite>The Collagist</cite>.
                    </p>
                </li>
                <li>
                    <a href="http://www.identitytheory.com/lit/dixon_chronic_lethem.php"><cite>Chronic City</cite> by Jonathan Lethem</a>
                    <p>"Let me be completely transparent: with Lethem’s work, I approach it with expectations. I expect spice. In this case, I found the book flavorless and cold."</p>
                    <p>Reviewed at <cite>Identity Theory</cite>.
                    </p>
                </li>
                <li>
                    <a href="http://www.identitytheory.com/lit/dixon_ray.php"><cite>Ray of the Star</cite> by Laird Hunt</a>
                    <p>"Consider the f-bomb: you can trace the trajectory of the story’s heart by the elegant deployment of that dexterous cuss word across the pages of...Laird Hunt’s latest (arguably best, unarguably most emotionally engaging) novel."</p>
                    <p>Reviewed at <cite>Identity Theory</cite>.
                    </p>
                </li>
                <li>
                    <a href="https://web.archive.org/web/20190207092217/http://quarterlyconversation.com/what-is-all-this-by-stephen-dixon"><cite>What Is All This?</cite> by Stephen Dixon</a>
                    <p>This review includes footnotes.</p>
                    <p>Reviewed at
                        <cite>The Quarterly Conversation</cite>. (The link will take you to Wayback Machine archival snapshot.)
                    </p>
                </li>
                <li>
                    <a href="http://thecollagist.com/the-collagist/2010/9/14/the-orange-eats-creeps-by-grace.html"><cite>The Orange Eats Creeps</cite> by Grace Krilanovich</a>
                    <p>"It is a slippery novel. It will never lay still and compromising in your hands, but the harder you hold on to it, the harder it is to hold. In confounding, it rewards: to borrow a line from the book, 'It’s only a problem if you make it one.'"</p>
                    <p>Reviewed at <cite>The Collagist</cite>.
                    </p>
                </li>
            </ul>
        </article>

        <article>
            <header>
                <h3>Other creative outlets</h3>
                <p>abandonment issues</p>
            </header>

            <ul>
                <li><a href="https://tenthousandfalsedreams.tumblr.com/">10000 False Dreams</a></li>
                <li><a href="https://www.youtube.com/playlist?list=PLoUUtwWXpksAnJ1HogFU5eKaCj_Z96S-L">Blender</a></li>
                <li><a href="https://www.flickr.com/photos/darby3/">Flickr</a></li>
            </ul>
        </article>

    </article>

    <article>
        <header>
            <h2>Technical Stuff</h2>
            <p>life is all fun and code</p>
        </header>

        <article>
            <header>
                <h3>Coding Sketchbooks &amp; etc.</h3>
                <p>random collections of random things</p>
            </header>

            <article>
                <header>
                    <h4>A kitchen sink</h4>
                </header>

                <ul>
                    <li><a href="https://tech.chickenwing-gingerbreadman.xyz/">Tech stuff</a></li>
                </ul>
            </article>

            <article>
                <header>
                    <h4>Core web tech</h4>
                </header>

                <ul>
                    <li><a href="https://svg-sketchbook.chickenwing-gingerbreadman.xyz">SVG</a></li>
                    <li><a href="https://darby3.github.io/canvas-sketchbook">Canvas</a></li>
                </ul>
            </article>

            <article>
                <header>
                    <h4>Libraries</h4>
                </header>

                <ul>
                    <li><a href="https://darby3.github.io/p5js-sketchbook">p5js</a></li>
                    <li><a href="https://d3-sketchbook.chickenwing-gingerbreadman.xyz">d3</a></li>
                    <li><a href="https://threejs-sketchbook.chickenwing-gingerbreadman.xyz/">threeJS</a></li>
                </ul>
            </article>

            <article>
                <header>
                    <h4>Other Web Stuff</h4>
                </header>

                <ul>
                    <li>
                        <a href="https://101-ways-to-animate-things.chickenwing-gingerbreadman.xyz/">101 Ways to Animate Things</a>
                    </li>
                </ul>
            </article>
        </article>

        <article>
            <header>
                <h3>Github Repos</h3>
                <p>things that might be useful to someone, somewhere</p>
            </header>

            <ul>
                <li><a href="https://github.com/darby3/ready-set-fractal">Ready Set Fractal</a></li>
                <li><a href="https://github.com/darby3/Next-Page">Next Page</a></li>
                <li><a href="https://github.com/darby3/unicornhathd_clock">Unicorn HAT HD Clock</a></li>
            </ul>
        </article>

        {{!-- <article>
            <header>
                <h3>Tech Demos</h3>
                <p>a few things I've needed to think through</p>
            </header>

            <ul class="more-gap">
                <li>
                    <a href="https://responsive-images-demo.chickenwing-gingerbreadman.xyz/">Responsive Images</a>
                    <p>Using the &lt;picture&gt; element and getting into art-directing web images.</p>
                </li>
                <li>
                    <a href="https://spatial-manipulation-demo.chickenwing-gingerbreadman.xyz/">Spatial Manipulation</a>
                    <p>Figuring out where an element is on the screen and/or on the page and then doing things with that information. (The end result here is perhaps better served by Intersection Observer, but it's been a while since I've looked at it.)</p>
                </li>
                <li>
                    <a href="https://image-triggering-demo.chickenwing-gingerbreadman.xyz/">Image Triggering</a>
                    <p>Making images do tricks when the appear on screen.</p>
                </li>
                <li>
                    <a href="https://pwapwapwa.chickenwing-gingerbreadman.xyz/">Progressive Web App</a>
                    <p>Doesn't do much but helped me get a basic understanding of how to set up a PWA.</p>
                </li>
                <li>
                    <a href="https://note-to-self.chickenwing-gingerbreadman.xyz/">Local Storage</a>
                    <p>I mean, it's not going to replace the notes app on your phone any time soon, but it did help me get a basic handle on how to work with local storage.</p>
                </li>
                <li>
                    <a href="https://three-colors.chickenwing-gingerbreadman.xyz/">Netlify Functions</a>
                    <p>Maybe you need three random colors? There's no reason to do this using a Netlify function other than wanting to figure out how to do this using a Netlify function.</p>
                </li>
                <li>
                    <a href="https://tell-me-about-it.chickenwing-gingerbreadman.xyz//">Notifications API</a>
                    <p>First stab at figuring out the notifications API. Eventually I want to apply Push to this as well, but turns out that's a whole other thing.</p>
                </li>
            </ul>
        </article> --}}
    </article>

    {{!-- <article>
        <header>
            <h2>Other Links</h2>
            <p>to other things</p>
        </header>

        <ul>
            <li><a href="https://micro.blog/darby3">Meet me on Micro.blog</a></li>
            <li><a href="https://github.com/darby3/chickenwing-gingerbreadman">Github repo</a></li>
        </ul>
    </article> --}}
</main>


<dialog id="about">
    <form id="aboutForm" method="dialog">
        <button id="aboutCloser">Close</button>

        <h2>About...</h2>

        <article>
            <h3>...me</h3>

            <p>I'm Darby.</p>

            <p>By day I'm a web designer/developer for a college near Cleveland, Ohio.</p>

            <p>By the rest of my time, I'm not, which is probably why my web presence is such a mess.</p>
        </article>

        <article>
            <h3>...my interests</h3>

            <p>Books. Music. Some movies.</p>

            <p>Running.</p>

            <p>Web stuff, design, coding.</p>
        </article>

        <article>
            <h3>...this site</h3>

            <p>It's basically a portal page, a list of links to much or most of my stuff on the web.</p>
        </article>

        <article>
            <h3>...the name of the site</h3>

            <p>Once upon a time I was like "I wanna make myself a website" and then I was like "Ugh that means I have to name it, huh, rude."</p>

            <p>Time passed.</p>

            <p>Then early in 2019, I welcomed my second son into the world. Babies are funny; they are so <em>tiny</em>. There was, for a bit, a particular swaddle/wrap thing that he liked. It made him look adorably hilarious. I said it made him look like a chicken wing; my wife said it made him look like a gingerbread man. She's more right than I am, of course. Still, the phrase "chicken wing gingerbread man" got stuck in the singsongy regions of my brain.</p>

            <p>And then I was like, oh, hey, website. And I bought the domain name.</p>
        </article>
    </form>
</dialog>
