---
title: Home
layout: main
---

<div class="home">
    <section class="home__section home__section--title">
        <h1>Chicken Wing Gingerbread Man</h1>
        <p>a personal site in chaotic and underperforming flux</p>
    </section>

{{!--
    <div class="home__simple-links">
        <p class="home__simplelink"><a href="./about">About</a></p>

--}}
{{!--
        <p class="home__simplelink"><a href="./graphics">Graphics</a></p>

        <p class="home__simplelink"><a href="./demos">Demos</a></p>

        <p class="home__simplelink"><a href="./random">Random Stuff</a></p>
--}}{{!--

    </div>
--}}

    <section class="home__section home__section--title--alt">
        <h2>Coding Sketchbooks and Similar-such Things</h2>
        <p>random collections of random things</p>
    </section>

    <div class="home__flex home__simple-links-alt">
        <div class="home__section home__section__flexbreak home__section--variant-1">
            <h3>Core web tech</h3>
        </div>

        <div class="home__simplelink">
            <p><a href="https://svg-sketchbook.chickenwing-gingerbreadman.xyz">SVG</a></p>
        </div>

        <div class="home__simplelink">
            <p><a href="https://darby3.github.io/canvas-sketchbook">Canvas</a></p>
        </div>

        <div class="home__section home__section__flexbreak home__section--variant-1">
            <h3>Libraries</h3>
        </div>

        <div class="home__simplelink">
            <p><a href="https://darby3.github.io/p5js-sketchbook">p5js</a></p>
        </div>

        <div class="home__simplelink">
            <p><a href="https://d3-sketchbook.chickenwing-gingerbreadman.xyz">d3</a></p>
        </div>

        <div class="home__simplelink">
            <p><a href="https://darby3.github.io/threejs-sketchbook">threeJS (sketchbook)</a></p>
        </div>

        <div class="home__simplelink">
            <p><a href="https://darby3.github.io/threejs-starters">threeJS (starters)</a></p>
        </div>

        <div class="home__section home__section__flexbreak home__section--variant-1">
            <h3>Criss-cross Applesauce</h3>
        </div>

        <div class="home__simplelink">
            <p><a href="https://101-ways-to-animate-things.chickenwing-gingerbreadman.xyz/">101 Ways to Animate Things</a></p>
        </div>

        <div class="home__simplelink">
            <p><a href="https://tenthousandfalsedreams.tumblr.com/">10000 false dreams</a></p>
        </div>

        <div class="home__simplelink">
            <p><a href="https://www.youtube.com/playlist?list=PLoUUtwWXpksAnJ1HogFU5eKaCj_Z96S-L">Blender</a></p>
        </div>
    </div>

    <section class="home__section  home__section--title--alt">
        <h2>Tech Demos</h2>
        <p>A few things I've needed to think through</p>
    </section>

    <div class="home__flex home__simple-links-alt">
        <div class="home__simplelink">
            <p><a href="./responsive-images">Responsive Images</a></p>
        </div>

        <div class="home__simplelink">
            <p><a href="./spatial-manipulation">Spatial Manipulation</a></p>
        </div>
    </div>

    <section class="home__section  home__section--title--alt">
        <h2>Blogs</h2>
        <p>What do you mean having multiple blogs is a sign of some kind of mild psychosis, what</p>
    </section>

    <div class="home__flex home__simple-links-alt">
        <div class="home__simplelink">
            <p><a href="https://namingthingsishard.blog/">Naming Things is Hard</a></p>
        </div>

        <div class="home__simplelink">
            <p><a href="https://tdaoc.org/">Thumb Drives and Oven Clocks</a></p>
        </div>
    </div>

    <section class="home__section  home__section--title--alt">
        <h2>Other Links</h2>
        <p>To other things</p>
    </section>

    <div class="home__simple-links">
        <p class="home__simplelink"><a href="./about">About This Site</a></p>
        <p class="home__simplelink"><a href="https://github.com/darby3/chickenwing-gingerbreadman">Github Repo For This Site</a></p>
        <p class="home__simplelink"><a href="https://www.flickr.com/photos/darby3/">Flickr</a></p>
        <p class="home__simplelink"><a href="https://twitter.com/darby3">Go on and @ me</a></p>

        {{!--
                <p class="home__simplelink"><a href="./graphics">Graphics</a></p>

                <p class="home__simplelink"><a href="./demos">Demos</a></p>

                <p class="home__simplelink"><a href="./random">Random Stuff</a></p>
        --}}
    </div>

</div>

{{!--
{{> bottombar }}
--}}
