---
title: "Chicken Wing Gingerbread Man: Home"
layout: home
---

<main>
    <header>
        <h1>Chicken Wing Gingerbread Man</h1>
        <p>a personal site in chaotic and underperforming flux</p>

        <ul>
            <li><a id="aboutLink" href="#about">About this site</a></li>
            <li><a href="https://micro.blog/darby3">Meet me on Micro.blog</a></li>
        </ul>
    </header>

    <article>
        <header>
            <h2>Non-Technical Stuff</h2>
            <p>life ain't all fun and code</p>
        </header>

        <article>
            <header>
                <h3>Thumb Drives and Oven Clocks</h3>
                <p>in which I read books and write about them</p>
            </header>

            <ul>
                <li><a href="https://tinyletter.com/darby3">Subscribe to the newsletter</a></li>
                <li><a href="https://tdaoc.org/">Visit the current site</a></li>
                <li><a href="https://thumbdrivesandovenclocks.wordpress.com/">Peruse older archives</a></li>
                <li><a href="https://thumb-drives-and-oven-clocks.blogspot.com/">Peruse
                    <em>really older</em> archives</a>
                </li>
            </ul>
        </article>

        <article>
            <header>
                <h3>Other creative outlets</h3>
                <p>abandonment issues</p>

            </header>
            <ul>
                <li><a href="https://tenthousandfalsedreams.tumblr.com/">10000 False Dreams</a></li>
                <li><a href="https://www.youtube.com/playlist?list=PLoUUtwWXpksAnJ1HogFU5eKaCj_Z96S-L">Blender</a></li>
                <li><a href="https://www.flickr.com/photos/darby3/">Flickr</a></li>
            </ul>
        </article>

    </article>

    <article>
        <header>
            <h2>Technical Stuff</h2>
            <p>life is all fun and code</p>
        </header>

        <article>

            <header>
                <h3>Naming Things is Hard</h3>

                <p>a technical blog</p>
            </header>
            <ul>
                <li><a href="https://namingthingsishard.blog/">Naming Things is Hard</a></li>
            </ul>
        </article>

        <article>
            <header>

                <h3>Coding Sketchbooks</h3>
                <p>random collections of random things</p>
            </header>

            <article>
                <header>

                    <h4>Core web tech</h4>
                </header>
                <ul>
                    <li><a href="https://svg-sketchbook.chickenwing-gingerbreadman.xyz">SVG</a></li>
                    <li><a href="https://darby3.github.io/canvas-sketchbook">Canvas</a></li>
                </ul>
            </article>

            <article>
                <header>

                    <h4>Libraries</h4>
                </header>

                <ul>
                    <li><a href="https://darby3.github.io/p5js-sketchbook">p5js</a></li>
                    <li><a href="https://d3-sketchbook.chickenwing-gingerbreadman.xyz">d3</a></li>
                    <li><a href="https://threejs-sketchbook.chickenwing-gingerbreadman.xyz/">threeJS</a></li>
                </ul>
            </article>

            <article>
                <header>

                    <h4>Other Web Stuff</h4>
                </header>

                <ul>
                    <li>
                        <a href="https://101-ways-to-animate-things.chickenwing-gingerbreadman.xyz/">101 Ways to Animate Things</a>
                    </li>
                </ul>
            </article>
        </article>

        <article>
            <header>

                <h3>Github Repos</h3>
                <p>things that might be useful to someone, somewhere</p>
            </header>

            <ul>
                <li><a href="https://github.com/darby3/ready-set-fractal">Ready Set Fractal</a></li>
                <li><a href="https://github.com/darby3/Next-Page">Next Page</a></li>
                <li><a href="https://github.com/darby3/unicornhathd_clock">Unicorn HAT HD Clock</a></li>
            </ul>
        </article>

        <article>
            <header>

                <h3>Tech Demos</h3>
                <p>a few things I've needed to think through</p>
            </header>

            <ul>
                <li><a href="https://responsive-images-demo.chickenwing-gingerbreadman.xyz/">Responsive Images</a></li>
                <li><a href="https://spatial-manipulation-demo.chickenwing-gingerbreadman.xyz/">Spatial Manipulation</a>
                </li>
                <li><a href="https://image-triggering-demo.chickenwing-gingerbreadman.xyz//">Image Triggering</a></li>
            </ul>
        </article>
    </article>

    <article>
        <header>

            <h2>Other Links</h2>
            <p>to other things</p>
        </header>

        <ul>
            <li><a href="https://github.com/darby3/chickenwing-gingerbreadman">Github repo</a></li>
            <li><a href="/silly-command-line-tricks">Possibly cursed command line commands</a></li>
        </ul>
    </article>
</main>


<dialog id="about">
    <form method="dialog">
        <button id="aboutCloser">Close</button>

        <h2>About this site</h2>

        <p>The idea here is that it might be nice to make a website. And it might be nice to make a website without knowing exactly what the website is going to look like, or do, or be, before starting.</p>

        <p>I've got a vague idea for a page that's about sharing random stuff I'm into at the moment, and that might give me the chance to mess around with some techniques and ideas I come up with which I can't immediately apply anywhere else.</p>

        <p>Also, making websites is supposed to be fun, and I'm hoping this will be kind of fun, if a bit of a mess.</p>

        <p>Wait: actually, I'm hoping it'll be fun <em>because</em> it's a mess.</p>

        <h3>About the name</h3>

        <p>Honestly I had the hardest time come up with something <em>relevant</em>.</p>

        <p>That said, early in 2019, about two months and change before I bought the domain name, I welcomed my second son into the world. There was for a while a particular swaddle/wrap thing that he liked, which made him look adorably hilarious. (Sleep deprivation may have been a factor.) I likened certain curves of it to a chicken wing; his mom said it made him look like a gingerbread man. She's more right than I am, of course. Still, the phrase "chicken wing gingerbread man" got stuck pretty hard and fast in the singsongy regions of my brain.</p>

        <p>So, yeah: welcome to Chicken Wing Gingerbread Man, a site born out of fatigue and general designer/developer antsyness.</p>
    </form>
</dialog>
