---
title: Personal Sites
---

{{> topbar }}

<section class="basic_text_wrapper">

    <h1>Personal Sites</h1>

    <p>I'm all for the reminder that running your own site, hosting your own content, doing your own weird thing is totally cool.</p>

    <p>Here's some links about that:</p>

    <ul class="simple-bullet-list">
        <li><a href="https://matthiasott.com/articles/into-the-personal-website-verse">"Into the Personal-Website-Verse", Matthias Ott</a></li>
        <li><a href="http://www.alwaysownyourplatform.com/">http://www.alwaysownyourplatform.com/</a></li>
    </ul>

</section>

{{> bottombar }}
