---
title: Home
---

{{> topbar }}

<section class="basic_text_wrapper">
    <h1>Random Things</h1>

    <p>The site's junk drawer!</p>

    <ul>
        <li><a href="colors.html">Fun with colors</a>.</li>
    </ul>
</section>

{{> bottombar }}
