---
title: Home
---

{{> topbar }}

<h1>Reading about reading</h1>

<p>Apparently I'm interested in reading <em>about</em> reading, these days.</p>

<ul>
    <li><a href="https://www.chronicle.com/interactives/20190419-Fall-of-Reading">"The Fall, and Rise, of Reading" at
        <cite>The Chronicle of Higher Education</cite></a>.</li>
    <li><a href="https://nplusonemag.com/issue-32/the-intellectual-situation/the-new-reading-environment/">"The New Reading Environment" at
        <cite>n+1</cite></a>.</li>
</ul>

{{> bottombar }}
