---
title: Home
---

{{> topbar }}


<section class="basic_text_wrapper">
    <h1>To Do</h1>

    <h2>For this site</h2>

    <p>aka, Stuff I think I might like to put on this site or that I randomly think about putting on this site, sometimes</p>

    <ul class="simple-list-grid">
        <li>Simple static-site-style blog/updates folder/page</li>
        <li>I should be able to put a "last modified" date in the footer on each page, right? Yeah?</li>
        <li>Some quick-ref kind of stuff, specifically things about building this site, or sites in general; stuff that doesn't quite fit a narrow blog-post format</li>
        <li>Dumb experiments, like a personal codepen of sorts, or an archive of links to codepen-style experiments</li>
        <li>A running list of ideas for things I should be doing but am probably not doing</li>
        <li>Links to stuff I actually have done</li>
        <li>Links to resources that I have found useful in figuring out how to make this site</li>
        <li>Silly data visualizations</li>
    </ul>

    <h2>In general</h2>

    <p>aka, Stuff I've got in my head I ought to be working on</p>

    <ul class="simple-list-grid">
        <li>Component palette colorizer</li>
        <li>Pocket Data Processor</li>
    </ul>

    <h2>To-done-ish List</h2>

    <p>aka, Stuff I thought about doing and then did but might still be doing but whatever it's done enough for the purposes of these lists.</p>

    <ul class="simple-list-grid">
        <li>A "stuff I'm into" section, where I just keep adding whatever catches my eye in any shape or form</li>
    </ul>

</section>

{{> bottombar }}
