---
title: "Learning: Assemble"
---

{{> topbar }}

<div class="basic_text_wrapper">
    <h1>How the Heck Am I Gonna Learn All This Assemble Stuff</h1>

    <p>I'm using <a href="https://github.com/assemble/assemble">Assemble</a> to make this site "go." I'd like to do other stuff with it to make it go "more."</p>

    <h2>Why I'm interested in learning about it</h2>

    <ul class="simple-bullet-list">
        <li>I'm trying to add an "updates" section to this site, like a sort of microblog; I'd like to do that without resorting to other packages or scripts or techniques, if possible.</li>
        <li>I'd like to do some more dynamic stuff here, like (automatically) include updated dates/times in the footers of pages on the site.</li>
        <li>I'd like more control over the "sections" of the site, so I can partition things out when needed.</li>
    </ul>

    <p>Worth noting: some of my goals aren't strictly part of Assemble but might be handled in the Handlebars template engine. Which is fine.</p>

    <h2>Priority?</h2>

    <p>I'm falling down the hole at the moment.</p>

    <h2>Specific things to learn about, if it can be broken down like such</h2>

    <ul class="simple-bullet-list">
        <li>Helpers</li>
        <li>Plugins</li>
        <li>What I'm <em>actually</em> doing with the assemblefile.</li>
    </ul>

    <h2>Potentially useful resources</h2>

    <ul class="simple-bullet-list">
        <li>Mostly banging around on the <a href="https://github.com/assemble/assemble">Assemble repo</a>. It all feels a bit outdated and not well organized though. The <a href="https://github.com/assemble/assemble/tree/master/support/docs/src">draft documentation</a> can be illuminating.</li>
        <li>Take a look at other projects that <a href="https://github.com/assemble/assemble/issues/300">may or may not still be using Assemble</a>.</li>
    </ul>

    <h2>Progress notes</h2>

    <ul class="simple-bullet-list">
        <li>2019-06-07: After a lot of head-scratching, I have the core of a functional blog <em>thing</em> worked out in a separate branch. That's fun.</li>
    </ul>

    <h2>Desired outcomes (stuff to build)</h2>

    <ul class="simple-bullet-list">
        <li>A blog-like "updates" section on this site.</li>
        <li>At least one "section" of the site that is distinct from the main site and from the updates area.</li>
    </ul>
</div>

{{> bottombar }}
