html, body {
  margin: 0;
  height: 100%;
}

.animate-things-wrapper {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  > * {
    margin: 1rem;
  }
}

.simple-box {
  width: 100px;
  height: 100px;
  background-color: #00ff00;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.anim-box {
  &.active {
    background-color: #ff00ff;
    color: #ffffff;
  }

  &.anim-box--transition {
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  }
}

.position-box {
  position: relative;
  left: 0;
  transition: left 0.5s ease-in-out;

  &.active {
    left: -100px;
  }
}

.scale-box {
  transform: scale(1, 1);
  transition: transform 0.25s ease-in-out;

  &.active {
    transform: scale(1.75, 1.75);
  }
}

.rotate-box {
  transform: rotate(0);
  transition: transform 2s ease-in-out;

  &.active {
    transform: rotate(1800deg);
  }
}

.translate-box {
  transform: translate(0, 0);
  transition: transform 0.625s ease-in-out;

  &.active {
    transform: translate(100%, 100%);
  }
}

.multi-transform-box {
  transform: scale(1, 1) rotate(0) translate(0, 0);
  transition: transform 1.25s ease-in-out;

  &.active {
    transform: scale(5, 0.5) rotate(900deg) translate(0, -100%);
  }
}

@keyframes demoSample {
  0% {
    transform: none;
  }

  25% {
    transform: translate(25%, 35%);
  }

  50% {
    transform: rotate(400deg);
  }

  75% {
    transform: scale(2, 2);
  }

  100% {
    transform: translate(100%, 100%) rotate(800deg) scale(3, 3);
  }
}

.css-keyframes-box {
  &.active {
    animation: 5s demoSample ease-in-out;
  }
}

.css-keyframes-box--fill-forwards {
  &.active {
    animation: 5s demoSample ease-in-out forwards;
  }
}

.css-keyframes-box--infinite {
  animation: 2s demoSample ease-in-out infinite;
}

.css-keyframes-box--infinite-back-and-forth {
  animation: 2s demoSample ease-in-out infinite alternate;
}

// The transition is on the target state: transition quickly to active, slowly back to the start
.css-transitions-to-and-fro-box {
  transform: scale(1, 1) translate(0, 0) rotate(0);
  transition: transform 2s ease-in-out;

  &.active {
    transform: scale(2, 2) translate(0, 50%) rotate(45deg);
    transition: transform 0.125s ease-in-out;
  }
}
