// Picture element demo

// Starter demo text column

.picture_element_demo__text-column {
  width: calc(100% - 4rem);
  max-width: 760px;
  margin: 0 auto 2rem;
}

// Images and figures
figure {
  img {
    display: block;
    width: 100%;
  }

  figcaption {
    font-size: 1rem;
    background: #323232;
    color: #cacaca;
    padding: 1rem;
  }
}


.picture_element_demo__image--float-right {
  margin: auto;
  max-width: 300px;

  @media screen and (min-width: 762px) {
    float: right;
    margin: 0 0 1rem 1rem;
  }
}

.picture_element_demo__image--dramatic {
  margin: auto;

  @media screen and (min-width: 762px) {
    float: right;
    margin: 0 0 1rem 1rem;
    max-width: 300px;
  }
}
