// Picture element demo

.spatial-manipulation-demo--text-block {
  background-color: #1AD4F9;
  padding: 3rem;
}

.spatial-manipulation-demo--buttons {
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #000;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: normal;

  button {
    margin: 0 0 2rem 0;
  }
}

#smd-block1-output,
#smd-block4-output {
  width: 100%;
}

.test-block {
  padding: 2rem;
  margin: 2rem;
  background-color: #6CFEE6;
}

#test-block-readout {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 2rem;
  border-top: 1px solid #323232;
  border-left: 1px solid #8a8a8a;
  background-color: rgba(#cacaca, 0.82);
}
