---
title: "Animate things: add a class"
layout: animate-things
scriptfile: add-a-class.js
---

<section class="animate-things-wrapper">
    <button id="addClass">Add class</button>

    <div class="simple-box anim-box">
        Hi there
    </div>
</section>
