---
title: "Animate things: CSS keyframes"
layout: animate-things
scriptfile: toggle-a-class.js
---

<section class="animate-things-wrapper">
    <button id="addClass">Toggle class</button>

    <div class="simple-box css-keyframes-box--fill-forwards">
        Hi there
    </div>
</section>
