---
title: "Animate things: CSS keyframes, infinite repeat"
layout: animate-things
scriptfile: toggle-a-class.js
---

<section class="animate-things-wrapper">
    <div class="simple-box css-keyframes-box--infinite">
        Hi there
    </div>
</section>
