---
title: "Animate things: CSS transitions: to and fro"
layout: animate-things
scriptfile: toggle-a-class.js
---

<section class="animate-things-wrapper">
    <button id="addClass">Toggle class</button>

    <div class="simple-box css-transitions-to-and-fro-box">
        Hi there
    </div>
</section>
