---
title: "Animate things: CSS keyframes, infinite repeat, back-and-forth"
layout: animate-things
scriptfile: toggle-a-class.js
---

<section class="animate-things-wrapper">
    <div class="simple-box css-keyframes-box--infinite-back-and-forth">
        Hi there
    </div>
</section>
