---
title: "Animate things: toggle a class"
layout: animate-things
scriptfile: toggle-a-class.js
---

<section class="animate-things-wrapper">
    <button id="addClass">Toggle class</button>

    <div class="simple-box anim-box anim-box--transition">
        Hi there
    </div>
</section>
