---
title: "Animate things: use GSAP"
layout: animate-things
scriptfile: gsap-script.js
---

<section class="animate-things-wrapper">
    <button id="addClass">Move it</button>

    <div id="gsapBox" class="simple-box">
        Hi there
    </div>
</section>
