---
title: "Animate things: show and hide with jQuery"
layout: animate-things
scriptfile: jquery-toggle-with-timing.js
---

<section class="animate-things-wrapper">
    <button id="addClass">Show/Hide (with jQuery)</button>

    <div id="sampleBox" class="simple-box anim-box">
        Hi there
    </div>
</section>
