---
title: "Animate things: transition end succession"
layout: animate-things
scriptfile: transition-end-trigger-succession.js
---

<section class="animate-things-wrapper">
    <button id="addClass">Toggle class</button>

    <div id="triggerOne" class="simple-box transition-succession-box-one">
        To the left!
    </div>

    <div id="triggerTwo" class="simple-box transition-succession-box-two">
        To the right!
    </div>

    <div id="triggerThree" class="simple-box transition-succession-box-three">
        Up the middle!
    </div>
</section>
