---
title: "Animate things: transition end event"
layout: animate-things
scriptfile: transition-end-event-trigger-something-else.js
---

<section class="animate-things-wrapper">
    <button id="addClass">Add class</button>

    <div id="triggerOne" class="simple-box transition-trigger-box-one">
        To the left!
    </div>

    <div id="triggerTwo" class="simple-box transition-trigger-box-two">
        To the right!
    </div>
</section>
