---
title: "Animate things: transition end event"
layout: animate-things
scriptfile: transition-end-event.js
---

<section class="animate-things-wrapper">
    <button id="addClass">Toggle class</button>

    <div class="simple-box transition-end-event-box">
        Hi there
    </div>
</section>
