---
title: "Animate things: transition on hover"
layout: animate-things
scriptfile: toggle-a-class.js
---

<section class="animate-things-wrapper">
    <div class="simple-box transition-on-hover-box">
        Hi there
    </div>
</section>
