---
title: "Animate things: transform rotate"
layout: animate-things
scriptfile: toggle-a-class.js
---

<section class="animate-things-wrapper">
    <button id="addClass">Toggle class</button>

    <div class="simple-box translate-box">
        Hi there
    </div>
</section>
