---
title: "Animate things: use the web animation api"
layout: animate-things
scriptfile: web-animation-api.js
---

<section class="animate-things-wrapper">
    <button id="addClass">Activate</button>

    <div id="webAnimApiBox" class="simple-box">
        Hi there
    </div>
</section>
