---
title: "Animate things: use the web animation api, with show and hide"
layout: animate-things
scriptfile: web-animation-api-with-show-and-hide.js
---

<section class="animate-things-wrapper">
    <button id="addClass">Activate</button>

    <div id="webAnimApiBox" class="simple-box web-anim-api-abs-box">
        <a href="#">I'm a link!!</a>
    </div>

    <p><a href="#">I'm another link!</a></p>
</section>
